html{position: relative;

}


body{
    padding: 0;
    margin: 0;
    --box-size:150px;
    height: 100vh;
    
}

main{
    text-align: center;
}

/* #BlockOne{
    border: solid;
    width: var(--box-size);
    height: var(--box-size);
} */


#Blocks{
border: solid;
/* position: relative; */
}

#Blocks div{
    width: var(--box-size);
    height: var(--box-size);  
    margin: 10px;
    background-color: black;
}



#Blocks div:nth-child(2){
    background-color: red;
}


#Blocks div:nth-child(2)::before{
    content: "bc";
}


#Blocks div:nth-child(2)::first-letter{
    font-size: larger;
}














footer{
    border: solid;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    text-align: center;
    font-size: 30px;
}